<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let question of questions">
      <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
    </div>
  </form>
</div>
