<div [formGroup]="form">
  <div [ngSwitch]="question?.controlType">
    <div *ngSwitchCase="'textbox'">
      <ion-item no-padding>
        <ion-label [position]="question.position">{{ question.label }}</ion-label>

        <ion-input
          *ngIf="question.mask"
          [simpleMask]="question.mask"
          [formControlName]="question.key"
          [type]="question['type']"
          [id]="question.key"
          [clearInput]="question['clearInput']"
          [email]="question['type'] === 'email'"
          [placeholder]="question['placeholder']"
        ></ion-input>
        <ion-input
          *ngIf="!question.mask"
          [formControlName]="question.key"
          [type]="question['type']"
          [id]="question.key"
          [clearInput]="question['clearInput']"
          [email]="question['type'] === 'email'"
          [placeholder]="question['placeholder']"
        ></ion-input>
      </ion-item>
      <div class="ion-margin">
        <p
          *ngIf="
            form.controls[question.key].invalid &&
            (form.controls[question.key].touched)
          "
        >
          <ion-text text-center color="danger" *ngIf="form.controls[question.key].errors.required">
            Campo obrigatório</ion-text
          >
          <ion-text
            text-center
            color="danger"
            *ngIf="form.controls[question.key].errors.minlength"
            color="danger"
            >O campo deve conter no mínimo
            {{ form.controls[question.key].errors.minlength.requiredLength }} caracteres</ion-text
          >
          <ion-text
            text-center
            color="danger"
            *ngIf="form.controls[question.key].errors.maxlength"
            color="danger"
            >O campo deve conter no máximo
            {{ form.controls[question.key].errors.maxlength.requiredLength }} caracteres</ion-text
          >
        </p>
        <p
          *ngIf="
            question.key === 'email' &&
            form.controls['email'].invalid &&
            (form.controls[question.key].dirty || form.controls[question.key].touched)
          "
        >
          <ion-text text-center color="danger" *ngIf="form.controls[question.key].errors.email">
            Entre com um e-mail válido</ion-text
          >
        </p>

        <p *ngIf="question.key === 'retypePassword'">
          <ion-text
            text-center
            *ngIf="
              form.controls[question.key].invalid &&
              form.controls['password'].touched &&
              form.controls[question.key]?.errors.MatchPassword
            "
            color="danger"
            >As senhas não conferem
          </ion-text>
        </p>
      </div>
    </div>
    <div *ngSwitchCase="'datePicker'">
      <ion-item>
        <ion-label [position]="question.position">{{ question.label }}</ion-label>
        <ion-datetime  [formControlName]="question.key" displayFormat="DD/MMM/YYYY"></ion-datetime>
      </ion-item>
    </div>
  </div>
</div>
