<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Detalhes do cliente </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="client"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="selectedClient$ | async as client" slot="primary">
      <ion-button (click)="presentAddClientModal(client.id)">
        <ion-icon size="small" slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteClient(client.id)">
        <ion-icon size="small" slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title *ngIf="selectedClient$ | async as client" size="large">
        {{ client?.name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="loading$ | async; else elseTemplate">
    <ion-list>
      <div *ngFor="let item of skeletonRepeatItems">
        <app-simple-list-skeleton></app-simple-list-skeleton>
      </div>
    </ion-list>
  </ng-container>

  <ng-template #elseTemplate>
    <ion-list *ngIf="selectedClient$ | async as client">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Nome</h2>
          <p>{{ client?.name }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>E-mail</h2>
          <p>{{ client?.email }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Telefone</h2>
          <p>{{ client?.phone }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Data de nascimento</h2>
          <p>{{ client?.birthDate | date: 'dd/MM/yyyy' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
