<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Clientes </ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!enableItemsEdit" (click)="presentAddClientModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Clientes </ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="loading$ | async; else elseTemplate">
    <ion-list>
      <div *ngFor="let item of skeletonRepeatItems">
        <app-simple-list-skeleton></app-simple-list-skeleton>
      </div>
    </ion-list>
  </ng-container>
  <ng-template #elseTemplate>
    <div *ngIf="clients$ | async as clients">
      <ng-container *ngIf="clients.length; else noDataTemplate">
        <ion-list>
          <ion-item-sliding *ngFor="let client of clients; trackBy: trackByFn">
            <ion-item-options side="start">
              <ion-item-option color="danger" (click)="deleteClient(client.id)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item [detail]="true" [routerLink]="['./' + client.id]">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <h3>{{ client.name }}</h3>
                </ion-text>
                <p>{{ client.email }}</p>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ng-container>
      <ng-template #noDataTemplate>
        <ion-text class="ion-text-center ion-padding">
          <p>Não existem clientes cadastrados</p>
        </ion-text>
      </ng-template>
    </div>
  </ng-template>
</ion-content>
