<ion-header>
  <ion-toolbar>
    <ion-title>{{ id ? 'Editar cliente' : 'Adicionar cliente' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form (ngSubmit)="saveHandler()" [formGroup]="formGroup">
    <ion-list>
      <div *ngFor="let question of questions">
        <app-dynamic-form-question
          [question]="question"
          [form]="formGroup"
        ></app-dynamic-form-question>
      </div>

      <div class="ion-padding">
        <ion-button [disabled]="saveLoading$ | async" type="submit" expand="block" color="primary">
          <ng-container *ngIf="saveLoading$ | async; else elseTemplate">
            <ion-spinner></ion-spinner>
          </ng-container>
          <ng-template #elseTemplate>{{ id ? 'Atualizar' : 'Salvar' }} </ng-template>
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
